@import "variables";
@import "mediaq";
@mixin flexbox ($display,$justify-c){
    display: $display;
    justify-content: $justify-c ;
}
.dropdown-style{
    background-image: linear-gradient(#408ec6,#7a2048);
}
.btn-outline-success{
    color:#408ec6 ;
    border-color: #408ec6;
}
.btn:hover{
    background-color: #408ec6;
    color: white;
}
.overlay-container {
    @include flexbox(flex,center);
    height: fit-content;
    padding-top: 100px;
    align-items: center;

}
