* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* Main Page*/
.header-container {
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    position: sticky;
    top: 0;
    z-index: 1;
}   

#home{
    color: white;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
    padding: 5px;
    border: 0px double rgba(100, 100, 100, 1);
    border-radius: 4px;
    transition: box-shadow 300ms ease-in;
}
#home:hover {
    box-shadow: 0px 0px 45px 0px rgba(255, 0, 0, 0.3); }
  
.header {
    display: flex;
    width: 20%;
}

.header-navbar {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.links-container {
  
    transition: box-shadow 300ms ease-in;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .links-container:hover {
    box-shadow: 0px 0px 27px 0px rgba(255, 0, 0, 0.3);
  }
  
  
.links-container a{
    padding: 5px 0;
    text-decoration: none;
    color: white;
    font-style: italic;
}


.overlay-container {
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-top: 100px;
    align-items: center;

}

.overlay{
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px;
}
.text-container h1{
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: white;
    
    transition: all 1;
}
.text-container p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 500px;
    text-align: center;
    color: white;
}

.video-overlay {
    display: flex;
    align-self: flex-end;
    position: absolute;
    z-index: -1;
    width: 100%;
}

#nosotros {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#408ec6,#7a2048);
}
.title-us {
    display: flex;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    align-self: center;
    padding-top: 25px;
}
.us-container {
    display: flex;
    flex-direction: row;
    margin:50px 0;
    justify-content: space-evenly;
}

.complot{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #a891b1;
}

.complot img{
    text-align: center;
}
.complot p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    text-align: center;
}

#why {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#7a2048,#1e2761);
    height: 1000px;
}
.title-why {
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 50px;
}

.why-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.why-explain{
    display: flex;
    justify-content: center;
}
.why-explain div{
    width: auto;
    padding-bottom: 50px;
}
.explaination{
    width: 50%!important;
    background-color: black 0.5;
    
}
.explaination p{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}
.complot-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.complot-container div{
    width: 33%;

}
.complot-why {
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    transition: transform 300ms ease-out, box-shadow 300ms ease-out;

}
.complot-why:hover{
    transform: translate(0px, 0px) scale(1, 1.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}


.complot-why img {
    align-self: center;
    border-radius: 150px;
    width: 250px;
    height: 250px;
    margin-top: 20px;
}

.complot-why p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    text-align: center;
    margin: 20px 0;
}

.footer-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    position: absolute;
    bottom: auto;
    margin: 0 auto;
    width: 100%;
    
}
.icons-container {
    display: flex;
}
.mail {
    color: white;
    display: flex;
    padding-right: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.icon img{
    width: 40px;
    height: 40px;
    margin: 0 5px;
}
 
.logo {
    color: white;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}





/*Soporte*/




#Soporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../media/images/Gaming-PC-Wallpaper-HD.jpg);

}
.relleno {
    display: flex;
    padding: 100px 0;
}
.form-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid transparent;  
    color: white;
    font-size: 30px;
    background-color: rgba(77, 77, 77, 0.3);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: auto;
}

.form-space-around {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
}
.label-input {
    display: flex;
    flex-direction: column;
    border: none;
    width: 80%;
    align-items: stretch;
    
}
.inputText{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 30px;
    font-size: 20px;
    border-radius: 3px;
    border: none;
}

.textbox{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
    border-radius: 3px;
    resize: none;
}
#submit {
    display: flex;
    margin-top: 10px;
    padding: 10px 50px;
    background-color: #c17e8b;
    border: none;
    border-radius: 10px 10px;
    width: max-content;
    cursor: pointer;
}

#submit:hover{
 transition: all 1s;
 background-color: #d26966;  
}
.exito-container{
    background: #fff;
    padding: 80px 20px;
    border-radius: 5px;
    opacity: 0.5;
}
.exito{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-style: italic;
}









/*FAQ*/

.body-faq-background{
    background-image: linear-gradient(#7a2048,#1e2761);
}









.faq-container {
    display: grid;
    grid-template-areas: 
    "title  title"
    "faq1 faq1"
    "faq2 faq2"
    "faq3 faq3"
    "faq4 faq4";
    
    align-items: center;

}
.faq-container div{
    padding: 50px 0;
    
}

.titleFAQ{
    display: grid;
    grid-area: title;
    align-self:center;
    justify-items: center;
    padding: 10px 0;
    background-color: rgb(20, 20, 20);
    color: #fff;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
}
.faq1{
    grid-area: faq1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition: background-color 300ms ease-out;
}
.faq1:hover{
    background-color: rgba(0, 0, 0, 0.13);
}

.faq1 div{
    width: 50%!important;
}
.titleQ1{
    display: flex;
    justify-content: center;
    grid-area: titleQ1;
}
.question1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    grid-area: question1;
    z-index: -1;
}
.mediopago {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap ;
    z-index: -1;
}
.tarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: -1;
}
.mediopago img {

    width: 117px;
    height: auto;
    margin: 20px 0;
    z-index: -1;
}
.mediopago div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: -1;
    
}

.faq2{
    display: flex;
    grid-area: faq2;
    flex-direction: row-reverse;
    flex-wrap: wrap;

}
.faq2:hover{
    background-color: rgba(0, 0, 0, 0.13);
}
.faq2 div{
    width: 50%;
}
.titleQ2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: titleQ2;
    width: 100%;
}
.question2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: question2;
}
.faq3{
    display: flex;
    grid-area: faq3;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
}
.faq3:hover{
    background-color: rgba(0, 0, 0, 0.13);
}
.faq3 div{
    width: 50%;
}
.titleQ3 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: titleQ3;
}
.question3{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: question3;
}
.faq4{
    display: flex;
    grid-area: faq4;
    flex-direction: row-reverse;
    height: 100%;
    flex-wrap: wrap;
}
.faq4:hover{
    background-color: rgba(0, 0, 0, 0.13);
}
.faq4 div{
    width: 50%;
}
.titleQ4{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: titleQ4;
}
.question4{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: question4;
}
 .Qp{
     width: 50%;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }

/*Productos*/






#products-overlay{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: black;
    color: white;
    border-top: solid white;
}
.h1-container{
    background-color: #d26966;
}

#products {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#products div{
    padding: 30px 20px;
}

.categorys {
    width: max-content;
    display: flex;
    flex-direction: column;
    background-color: #d26966;
    padding:100px 20px;
}

.product-category ul li{
    padding: 20px 0;
    text-align: center;
    list-style-type: none;
    border: solid black;
    margin:10px 0;
}
.product-category ul li a{
    text-decoration: none;
    color: black;
}
.products {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "product1   product2"
    "product3   product4"
    "product5   product6"
    "product7   product8";
    background-color: #c17e8b;
    justify-items: start;
    align-items: center;
}
.products div{
    width: 80%;
}
.product-item1 {
    grid-area: product1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
    
}
.product-item2 {
    grid-area: product2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
    
}
.product-item3 {
    grid-area: product3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
    
}
.product-item4 {
    grid-area: product4;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
   
}
.product-item5 {
    grid-area: product5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
   
}
.product-item6 {
    grid-area: product6;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
    
}
.product-item7 {
    grid-area: product7;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
    
}
.product-item8 {
    grid-area: product8;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 10px 10px;
  
}
.image-product {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.image-product a{
    margin-left: 10px;
    width: 80%;

}

@media only screen and (max-width: 758px){
    /*Mobile*/
    .overlay-container{
        padding-top: 0;
    }
    .complot{
        width: 30%;
        font-size: 11px;
    }
    .map {
        width: 30%;
        height: auto;
        align-self: center;
    }
    .title-why{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .complot-why{
        width: 200px;
        font-size: 13px;
    }
    .complot-why img{
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width:1300px){
    .faq-container{
        grid-template-areas: 
        "title "
        "faq1 "
        "faq1   "
        "faq2   "
        "faq2   "
        "faq3   "
        "faq3   "
        "faq4   "
        "faq4   ";
    }
    .faq-container div{
        padding: 20px 0;
        justify-content: center;
    }
    .faq1{
      
        display: flex;
        flex-direction: column; 
    }
    .question1{
        display:flex;
        flex-direction: column;
    }
    .mediopago{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mediopago img{
        width: 30px;
        height: auto;
    }
    .faq2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .faq2 div{
        width: 100%
    };
    .titleQ2{
        height: auto;
    }
    .question2{
        margin: 10px 0;
    }
    .faq3 div{
        width: 100%
    };
    .faq3{
        display: flex;
        flex-direction: column;
        
    }
    .faq4{
        display: flex;
      flex-direction: column;
     
    }
    .faq4 div{
        width: 100%;
        padding: 10px 0;
    }

}
@media only screen and (max-width:1150px){
    /*Mobile for products */
    .categorys{
        width: 20%;
        font-size: 10px;
        display: flex;
        align-items: center;
        z-index: -1;
    }
    .product-category{
        width: 100%;
    } 
    .sticky{
        position: sticky;
        top: 150px;
    }
    .products{
        grid-template-areas: 
        "product1"
        "product2"
        "product3"
        "product4"
        "product5"
        "product6"
        "product7"
        "product8";
        justify-items: start;
    }
    .products div{
        width: 80%;
    }
    .image-product a{
        text-align: start;
        width: 70%;
    }
.overlay-container{
    padding-top: 0;
}
.overlay{
    padding-bottom: 0;
}

}

@media only screen and (max-width:520px){
    .text-container h1{
        font-size: 1.8rem;
    }
    .text-container p{
        width: auto;
        font-size: 1rem;
        margin-bottom: 20px;
    }
        
.primero{
    padding-left: 0;
}
.header-navbar{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.links-container{
    font-size: 0.9rem;
    border: solid white 2px;
}
}

@media only screen and (max-width: 540px){
    .relleno{
        padding: 50px 0;
    }
}
@media only screen and (max-width:500px){
        .image-product{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .image-product h4{
            font-size: 0.9rem;
        }
}
