@import "../base/variables";
@import "../base/mediaq";
.overlay-container{

    video{
        height: auto}



    .overlay-background-mobile{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.overlay{
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 100px;
}
.text-container h1{
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    color: white;
    overflow-x: visible;
    transition: all 1;
}
.text-container p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    width: 500px;
    text-align: center;
    color: white;
}

.video-overlay {
    display: flex;
    align-self: flex-end;
    position: absolute;
    z-index: -1;
    width: 100%;
}

#nosotros {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient($background-gradient-start,$background-gradient-end);
}
.title-us {
    display: flex;  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    align-self: center;
    padding-top: 25px;
    h2{
        overflow-x: visible;
        color: white;
    }
}
.us-container {
    display: flex;
    flex-direction: row;
    margin:50px 0;
    justify-content: space-evenly;
}

.complot{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.complot img{
    text-align: center;
    color: white;
}
.complot p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    text-align: center;
    color: white;
    width: 90%;

}
.complot iframe{
    height: 100% ;
    width: 90%;
}
#why {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient($background-gradient-end,$background-gradient-start);
    height: auto;
}
.title-why {
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
    margin-bottom: 50px;
    h2{
        overflow-x: visible;
        color: white;
        text-align: center;
    }
    p{
        width: 85%;
        color:white;
        text-align: center;
    }
}

.why-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-wrap: wrap;
    overflow-x: visible;
    height: auto;

}
.why-explain{
    display: flex;
    flex-wrap: wrap;
    p{
        color: white;
        text-align: center;
    }
}
.why-explain div{
    width: auto;
    padding-bottom: 50px;
}

.complot-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    overflow-x: visible;
    .complot-why h3{
        overflow-x: visible;

    }
}
.complot-container div{
    width: 65%;
    overflow-x: visible ;

}
.complot-why {
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    transition: transform 300ms ease-out, box-shadow 300ms ease-out;

}
.complot-why:hover{
    transform: translate(0px, 0px) scale(1, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}


.complot-why img {
    align-self: center;
    border-radius: 150px;
    width: 250px;
    height: 250px;
    margin-top: 20px;
}
.complot-why h3{
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
}
.complot-why p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    text-align: center;
    margin: 20px 0;
    color: white;
}